/* TYPOGRAPHY*/

    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        font-size: 1.2em;
        line-height: 1.5em;
        color: #ebb3bc;
        text-decoration: none;
        text-align: center;
        }

    h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.2em;
        line-height: 1.5em;
        color: #fff;
        text-decoration: none;
        }
  
    h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 0.8em;
        color: #fff;
        text-decoration: none;
        }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 0.8em;
        }
 
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            height: 100%;
            width: 100%;
        }
        
        .product-item dt {
            font-family: 'Poppins', sans-serif;
            font-size: 1.3em;
            align-content: center;
        }

        .product-item dd {
            font-family: 'Poppins', sans-serif;
            font-size: 1em;
            margin: 0;
        }       

/* BODY */
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        height: 100%;
        width: 100%;
        }
        

/* HEADER */

    header {
        display : block;
        align-content : center;
        text-align : center;
        background-repeat : repeat;
        background-color : white;
        width : 100%;
        margin-bottom: 20px;
        border-top: 1em solid #ebb3bc
        }
    

    .logo{
        float: left;
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-top: 10px;
      }

      .bag-icon{
        float: right;
        width: 20px;
        height: 20px;
        margin-top: 30px;
        margin-right: 20px;
      }


      .heart-icon{
        float: right;
        width: 20px;
        height: 20px;
        margin-top: 30px;
        margin-right: 5px;
      }

/* NAVIGATIE */

    .topnav {
        overflow : hidden;
        width : 100%;
        text-align : center;
        justify-content : center;
        justify-items : center;
        margin-bottom : 1em;
        }

    .topnav a {
        font-family: 'Poppins', sans-serif;
        color : #ebb3bc;
        text-align : center;
        padding : 3px;
        margin : 3px;
        text-decoration : none;
        font-size : 0.65em;
        justify-content : center;
        align-items : center;
        font-weight: 900;
        }

    .topnav a:hover {
        color: #ebb3bc ;
        justify-content : center;
        align-items : center;
        }

    .topnav a.active {
        color : white;
        justify-content : center;
        align-items : center;
        }




/* Main Wrapper */


    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas:
        'hero-banner'
        'essential-products'
        'home-categories'
        'home-blog'
        'home-benefits'
        'cta'       
        ;
    }

/* HERO BANNER */

    .hero-banner {
        grid-area: hero-banner;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-banner > img {
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner-text {
        position: absolute;
        justify-content: center;
        font-family: 'Shrikhand';
        font-size: 1.3em;
        color: #FCF6F5 ;
    }

/* ESSENTIAL PRODUCTS */

.item-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.7em;
    color: #ebb3bc;
    text-decoration: none;
    }

.essential-products {
        grid-area: essential-products;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 1em;

        margin-top: 1em;
        padding: 0 1em;
    }

    .product-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1em 0;
    }

    .product-item img {
        width: 100%;
    }

/* SHOP CATEGORIES */

    .home-categories {
        grid-area: home-categories;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        row-gap: 2em;

        margin-top: 5em;
        padding: 0 1em;
    }

    .category-item img {
        width: 100%;
    }

    .category-item-info {
        display: flex;
        flex-direction: column;
    }

        
    .category-item-title {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.1em;
        color: #ebb3bc;
        text-decoration: none;
        }
  
    .category-item-subtext {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 0.7em;
        color: #ebb3bc;
        text-decoration: none;
        }   

/* BLOG CATEGORIES */

    .home-blog {
        grid-area: home-blog;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        row-gap: 1em;

        margin-top: 5em;
        padding: 0 1em;
    }

    .blog-item {
        background-image: url(../images/blog-1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 4.8em 1.6em;
        text-align: center;
    }

    .blog-item:nth-child(2) {
        background-image: url(../images/blog-2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 4.8em 1.6em;
        text-align: center;
    }

           
.readmore-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.9em;
    color: #fff;
    text-decoration: none;      
    margin-top: 1.5em;
    }

/* BENEFIT ICONS */

    .home-benefits {
        grid-area: home-benefits;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        row-gap: 1em;

        margin-top: 5em;
        padding: 0 1em;
    }

    .benefit-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        text-align: center;
        margin: 1em;
    }

    .benefit-item img {
        height: 3em;
    }


.benefit-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: #ebb3bc;
    text-decoration: none;
    margin: 0.8em 0;
    }

/* SIGN UP BUTTON */

    .cta {
        grid-area: cta;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        text-align: center;
        margin: 5em 0;
        padding: 0 1em;
        border-top: 1px solid #ebb3bc;
    }

    .cta form {
        display: flex;
        flex-direction: column;
    }

    
/* SIGN UP BUTTON */      

.cta-heading {
    font-family: 'Shrikhand', cursive;
    font-size: 1.3em;
    color: #ebb3bc;
    margin-top: 1.5em;
    }

.email-input {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(143, 143, 143);
    font-size: 0.8em;
    padding: 1em 0.8em;
    border: 1px solid rgba(0, 0, 0, 0.085);
    margin-top: 3em;
    margin-bottom: 1em;
    }

.form-btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
    font-style: italic;
    font-size: 0.8em;

    background-color: #ebb3bc;
    border: none;
    padding: 1em 1em;
    border-radius: 0.4em;
    width: 100%;
    }

/* FOOTER */
    
    footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 1100px;
    width: 100%;
    background-color: #fafbfd;
    color: #136207;
    }


    footer ul {
        text-decoration: none;
        color: #136207;
        font-family: 'Poppins', sans-serif; 
        list-style-type: none;
        text-decoration: none;
   
    }

    footer a:link {
        text-decoration: none;
        color: #136207;
        font-family: 'Poppins', sans-serif; 
        font-weight: lighter;
      }
      
    footer  a:visited {
        text-decoration: none;
        color: #136207;
        font-family: 'Poppins', sans-serif;
        font-weight: lighter;
      }
      
    footer a:hover {
        text-decoration: underline;
        color: #136207;
        font-family: 'Poppins', sans-serif;
        font-weight: lighter;
      }
      
    footer  a:active {
        text-decoration: underline;
        color: #136207;
        font-family: 'Poppins', sans-serif;
        font-weight: lighter;
      }


/*darkmodus*/ 

    button {
          text-decoration: none;
          color: white; 
          background-color: black; 
          font-family: 'Poppins', sans-serif;
      }

    button:active {
        transform: translateX(-2px);
    }
    .darkmodus {
        display: flex; 
        justify-content: center;
    }

    .buttondark {
        justify-content: center;
    }

    .buttondark {
        background-color: black;
    }

    .buttondark button {
        background: black;
        color: white;
    }

    .buttondark p {
        color: white;
        font-family: 'Poppins', sans-serif;
    }

    .buttondark label {
        color: white;
    }


@media only screen and (min-width: 600px) {

/* HEADER */

    header {
        display : block;
        align-content : center;
        text-align : center;
        background-repeat : repeat;
        background-color : white;
        width : 100%;
        margin-bottom: 20px;
    }


    .roze-lijn {
        background-color:#ebb3bc ;
        width: 100% ;
        height: 30px;
    }


    .logo{
        float: left;
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .bag-icon{
        float: right;
        width: 20px;
        height: 20px;
        margin-top: 80px;
        margin-right: 20px;
    }


    .heart-icon{
        float: right;
        width: 20px;
        height: 20px;
        margin-top: 80px;
        margin-right: 5px;
    }


/* HERO BANNER */
    
    .hero-banner > img {
        width: 100%;
        max-height: 600px;
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }

    .banner-text {
        position: absolute;
        justify-content: center;
        font-family: 'Shrikhand';
        font-size: 2.8em;
        color: #FCF6F5 ;
    }

/* NAVIGATIE */

    .topnav {
        overflow : hidden;
        width : 100%;
        text-align : center;
        justify-content : center;
        justify-items : center;
        margin-bottom : 1em;
        }
    
    .topnav a {
        font-family: 'Poppins', sans-serif;
        color : #ebb3bc;
        text-align : center;
        padding : 3px;
        margin : 3px;
        text-decoration : none;
        font-size : 0.75em;
        justify-content : center;
        align-items : center;
        font-weight: 900;
        }
    
    .topnav a:hover {
        color: #ebb3bc ;
        justify-content : center;
        align-items : center;
        }
    
    .topnav a.active {
        color : white;
        justify-content : center;
        align-items : center;
        }
    
/* ESSENTIAL PRODUCTS */

    .essential-products {
        grid-area: essential-products;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: auto;
        grid-template-areas: 
            '. product-item-1 product-item-2 product-item-3 product-item-4 .'
        ;
        gap: 1em;

        margin-top: 1em;
        padding: 0 1em;
    }

    .product-item {
        grid-area: product-item-1;
        display: flex;
        flex-direction: column;

        width: 100%;
        margin: 1em 0;
    }
    
    .product-item:nth-child(2) {
        grid-area: product-item-2;
        display: flex;
        flex-direction: column;

        width: 100%;
        margin: 1em 0;
    }

    .product-item:nth-child(3) {
        grid-area: product-item-3;
        display: flex;
        flex-direction: column;

        width: 100%;
        margin: 1em 0;
    }

    .product-item:nth-child(4) {
        grid-area: product-item-4;
        display: flex;
        flex-direction: column;

        width: 100%;
        margin: 1em 0;
    }

    .product-item img {
        width: 100%;
    }

/* SHOP CATEGORIES */

    .home-categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
    
        margin-top: 5em;
        padding: 0 1em;
        gap: 1em;
    }

/* BLOG CATEGORIES */

    .home-blog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
    
        margin-top: 5em;
        padding: 0 1em;
        gap: 1em;
    }

/* BENEFIT ICONS */

    .home-benefits {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
    
        margin-top: 5em;
        padding: 0 1em;
        gap: 1em;
    }

/* FOOTER */

    footer {
        display: flex;
        width: 100%;
        flex-direction: row;
        height: 250px;
        width: 100%;
        background-color: #fafbfd;
        color: #136207;
        justify-content: center;
        }

    }





/* BRONNEN: 
https://www.youtube.com/watch?v=68O6eOGAGqA&feature=youtu.be
https://www.w3schools.com/cssref/sel_nth-child.asp
*/
