body {
  font-size: 1em;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #fff;
  text-decoration: none;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
}

/* || Typography */
p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
}

.item-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 0.7em;
  color: #ebb3bc;
  text-decoration: none;
}

.category-item-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  color: #ebb3bc;
  text-decoration: none;
}

.category-item-subtext {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.7em;
  color: #ebb3bc;
  text-decoration: none;
}

.readmore-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;

  margin-top: 1.5em;
}



/* || Main Grid */
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 100%);
  grid-template-areas:
    'hero-banner'
    'essential-products'
    'home-categories'
    'home-blog'
    'home-benefits'
    'cta'
  ;

  height: 100%;
  width: 100%;
}

/* || Header */
header {
  height: 4em;
  background-color: lightgray;
  
  display: flex;
  justify-content: center;
  align-items: center;
}


/* || Hero Banner */
.hero-banner {
  grid-area: hero-banner;

  width: 100%;
}

.hero-banner img {
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* || Essential Products */
.essential-products {
  grid-area: essential-products;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  
  height: 100%;
  padding: 0 1em;
  margin: 1em 0;
}

.product-item {
  /* height: 100%; */
  width: 100%;
}

.product-item img {
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* || Home Categories */
.home-categories {
  grid-area: home-categories;

  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  
  height: 100%;
  margin: 6em 0;
  padding: 0 1em;

}

.category-item {
  width: 100%;
  height: 100%;
}

.home-categories img {
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.category-item-info {
  display: flex;
  flex-direction: column;

  margin-top: 0.7em;
}



/* || Home Blog */
.home-blog {
  grid-area: home-blog;

  display: flex;

  width: 100%;

  height: 100%;
  padding: 0 1em;
  margin: 9em 0;

}

.blog-content {
  background-image: url(../images/blog-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 4.8em 1.6em;
  text-align: center;
}



















/* || Home Benefits */
.home-benefits {
  grid-area: home-benefits;
  height: 15em;
  background-color: lightblue;
}

/* || Call to Action */
.cta {
  grid-area: cta;
  height: 15em;
  background-color: lightblue;
}

















@media only screen and (min-width: 550px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      'hero-banner hero-banner'
      'essential-products essential-products'
      'home-categories home-categories'
      'home-blog home-blog'
      'home-benefits home-benefits'
      'cta cta'
    ;
  }

  /* || Hero Banner */
  .hero-banner img {
    max-height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
  }


  /* || Essential Products */
  .essential-products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    display: flex;
    justify-content: center;

  }


  /* || Home Categories */
  .home-categories {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    gap: 2em;

    height: 100%;
  }
}
